{% if shop.customer_accounts_enabled %}
  {% if customer  %}
    <li class="toolbar-customer"><a href="/account">Your Account</a></li>
	<style> 
      .btn-login-pop{
      	display:none;
      }
	</style>
  {% else %}
    <li class="toolbar-customer">
<!--       <div class="login_btn red_btn">
      	{{ 'Log in' | customer_login_link }}
      </div> -->
<!--       {% if shop.customer_accounts_optional %}
      <span class="or">or</span>
      {{ 'Create an account' | customer_register_link }}
      {% endif %} -->
    </li>
  {% endif %}
{% endif %}