{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% capture url %}{% if collection_handle != "" %}/collections/{{ product-loop }}{{ product.url }}{% else %}{{ product.url }}{% endif %}{% endcapture %}
{% if settings.products_per_row == '3' %}{% assign product_span_size = 'span4' %}{% endif %}
{% if settings.products_per_row == '4' %}{% assign product_span_size = 'span3' %}{% endif %}
{% if template == 'index' %}
{% assign product_span_size = 'spanium' %}
  {% if collections[collection_handle].products.size == 4 %}{% assign product_span_size = 'span4' %}{% endif %}
  {% if collections[collection_handle].products.size == 5 %}{% assign product_span_size = 'span3' %}{% endif %}
{% endif %}

<div class="product {{ product_span_size }}">
  
  {% if product.price_min < product.compare_at_price_min %}
    <span class="circle sale">Sale</span>
  {% endif %}
  
  <div class="image">
    <a href="{{ url }}">
      <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.title | escape  }}" />
    </a>
  </div>
  
  <div class="details">
    <a href="{{ url }}" class="clearfix">
      <h4 class="title">{{ product.title }}</h4>
      
      <span class="price">
      {% if product.available %}
        {% if product.compare_at_price_max > product.price %}
          <del>{{ product.compare_at_price | money }}</del>
        {% endif %}
        {% if product.price_varies %}
        <small><em>from</em></small>
        {% endif %}
        {{ product.price | money }}
      {% else %}
        {{ product.price | money }} Sold Out
      {% endif %}
      </span>
   	  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </a>
  </div>
</div>
<script>
  if ($(window).width() > 509) {
   	document.write('{% if product_span_size == 'span4' %}{% cycle 'clear-product-loop': '', '', '<div style="clear:both;"></div>' %}{% endif %}{% if product_span_size == 'span3' %}{% cycle 'clear-product-loop': '', '', '', '<div style="clear:both;"></div>' %}{% endif %}'); 
  }
</script>