<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% if settings.use_favicon %}
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  {% endif %}
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  
  {% if handle contains 'apple-app-site-association' %}
  <meta name="robots" content="noindex">
  {% endif %}
  
  {% if handle contains '.well-known/apple-app-site-association' %}
  <meta name="robots" content="noindex">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="canonical" href="{{ canonical_url }}" /> 

  {% include 'fb-open-graph-tags' %}
   {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
  
  {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
  
  {{ content_for_header }}
  
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' | script_tag }}
  
  {% if settings.header_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,700">
  {% endif %}
  {% if settings.base_font contains 'Google' %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,700">
  {% endif %}
  
  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->
  <!--[if lt IE 8]>
  {{ 'json2.js' | shopify_asset_url | script_tag }}
  <![endif]-->
    
  {{ 'jquery-migrate-1.2.0.min.js' | asset_url | script_tag }}
  
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'modernizr.js' | asset_url | script_tag }} 

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
   
    
  

{{ 'scripts.js' | asset_url | script_tag }}
<!-- Mobile Recommendation -->
  <script type="text/javascript" async defer
  src="https://apis.google.com/js/platform.js?publisherid=116948580879604067044">
</script>
  
  <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
  <meta name="google-site-verification" content="BN4vBlzZtHw3uY3M6LW99jAHX_1NjzzPay7Wttrhg8I" />
  <meta name="msvalidate.01" content="09D1412A6D508282A7060ADB3F96D1A4" />
<!--Start of Zopim Live Chat Script-->
	<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
	d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
	_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
	$.src="//v2.zopim.com/?3lOBrAxC0gBQzWeTkgaxR6SHXJH4vD5G";z.t=+new Date;$.
	type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
	</script>
  
  	<script>
  	$zopim(function() {
    $zopim.livechat.window.hide();
  });
	</script>
<!--End of Zopim Live Chat Script-->
  
<!--Start Mail Chimp Goal Tracking-->  
  <script type="text/javascript">
	var $mcGoal = {'settings':{'uuid':'8790950052f4bec9916b99406','dc':'us8'}};
	(function() {
		 var sp = document.createElement('script'); sp.type = 'text/javascript'; sp.async = true; sp.defer = true;
		sp.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/downloads.mailchimp.com' : 'http://downloads.mailchimp.com') + '/js/goal.min.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sp, s);
	})(); 
	</script>
<!--End Mail Chimp Goal Tracking-->
</head>

<body>  
  <div class='white_bg'></div>
  
  <!-- Begin wrapper -->

  <div id="transparency" class="clearfix">
    <div class="top_menu p0 ">
      <div class="wrapper">
      <!-- Begin navigation -->
        {% if settings.logo_alignment == "center" %}
          <div class="span12 clearfix">
            <div class="logo">
              {% if settings.use_logo %}
              <h1><a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a></h1>
              {% if template == 'index' %}
              <h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
              {% endif %}
              {% else %}
              <h1><a href="/">{{ shop.name }}</a></h1>
              {% endif %}
            </div> 
          </div> 
          <section id="nav" class="row p30">
            <div class="span12">
              <nav class="main">
                {% include 'dropdown' %}
              </nav> <!-- /.main -->
              <nav class="mobile clearfix">
                {% include 'mobile-menu' %}
              </nav> <!-- /.mobile --> 
            </div> 
          </section> 
        {% else %}
          <div class="row p0" id="header">
            <div class="span12 nav-table cd-main-header animate-search">
              <div class="nav-logo">
                <div class="logo">
                  {% if settings.use_logo %}
                  <h1><a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" /></a></h1>
                  {% if template == 'index' %}
                  <h1 style="display:none"><a href="/">{{ shop.name }}</a></h1>
                  {% endif %}
                  {% else %}
                  <h1><a href="/">{{ shop.name }}</a></h1>
                  {% endif %}
                </div> 
              </div>               
              <div class="nav-links">
                <section id="nav">
                  <nav class="main">
                    {% include 'dropdown' %}
                  </nav> 
                  <nav class="mobile clearfix">
                    {% include 'mobile-menu' %}
                  </nav>
                  </section> 
              </div> 
              <!-- Begin toolbar -->
              <div class="toolbar clearfix">
                <ul class="unstyled">
                  
                  {% include 'customer-links' %}
                  <div class="login_btn red_btn btn-login-pop"><a class="login-linkk">Login</a></div>
    <div id="login" class="spanium7">
      {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <input type="email" value="" name="customer[email]" id="customer_email" class="text" placeholder="Enter Email Address" />

      {% if form.password_needed %}
      <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" placeholder="Enter Password"/>
      <a class="forgot-pass" href="#" onclick="showRecoverPasswordForm();return false;">Forgot your password?</a>
      {% endif %}
      
<!--       <div class="action_bottom"> -->
        <input class="btn enter" type="submit" value="Enter" />
<!--       </div>     -->
      {% endform %}
      
     <div class="account_btn">
   		{% if shop.customer_accounts_optional %}
        {{ 'Create an account' | customer_register_link }}
        {% endif %}
   	 </div>
    </div>
<!--     <div id="recover-password" style="display:none;" class="span7">
      <h2>Reset Password</h2>
      <p class="note">We will send you an email to reset your password.</p>

      {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <label for="email" class="label">Email Address</label>
      <input type="email" value="" size="30" name="email" id="recover-email" class="text" />

      <input class="btn" type="submit" value="Submit" />
      <span class="note">or <a href="#" onclick="hideRecoverPasswordForm();return false;">Cancel</a></span>
      {% endform %}
    </div>    -->
    {% if shop.checkout.guest_login %}
    <div id="guest" class="span5">
      <h2>Guest Login</h2>
      {% form 'guest_login' %}
      <input class="btn" type="submit" value="Continue as Guest" />2
      {% endform %}
    </div>
    {% endif %}   
                  <li id="cart-target" class="toolbar-cart {% if cart.item_count != 0 %}has-items{% endif %}">
                    <a href="/cart" class="cart" title="Shopping Cart">
						<i class="fa fa-shopping-cart icon-cart" aria-hidden="true"></i>
                      <span id="cart-count">{{ cart.item_count }}</span>
                    </a>
                  </li>  
                  
                  {% if settings.display_search %}
                  <li class="search-field fl">
                    <nav class="cd-main-nav-wrapper">
                      <a href="#search" class="cd-search-trigger cd-text-replace">
                      	<img src="{{ 'icon-search.png' | asset_url }}" alt="Go" id="go" class="search_icon" />
                      </a>
                    </nav>
                    
                  </li>
                  {% endif %}
                </ul>
   			 </div>
              
              <a href="#0" class="cd-nav-trigger cd-text-replace">Menu<span></span></a>      
              <div id="search" class="cd-main-search">
   				<form lass="search" action="/search">
                    <input type="search" name="q" value="" placeholder="Search..."  autocomplete="off"/>
                </form>
                <div class="cd-search-suggestions">
                    <div class="news">
                        <h3>Blog</h3>
                        <ul>
                            <li>
                                <a class="image-wrapper" href="#0">
                                  <img src="{{ 'new1.png' | asset_url }}"  alt="News image"></a>
                                <h4><a class="cd-nowrap" href="#0">With its action-packed fighting and positive, powerful heroines...</a>
                                </h4>
                                <time datetime="2016-01-12">Nov 03, 2016</time>
                            </li>

                            <li>
                                <a class="image-wrapper" href="#0">
                                  <img src="{{ 'new2.png' | asset_url }}" alt="News image"></a>
                                <h4><a class="cd-nowrap" href="#0">Japanese anime news site Anime! Anime! recently ran a poll</a></h4>
                                <time datetime="2016-01-12">Dec 03, 2016</time>
                            </li>

                            <li>
                                <a class="image-wrapper" href="#0">
                                  <img src="{{ 'new3.png' | asset_url }}" alt="News image"></a>
                                <h4><a class="cd-nowrap" href="#0">The Japanese yakiniku restaurant Gyu-Kaku is currently... </a></h4>
                                <time datetime="2016-01-12">Dec 09, 2016</time>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- .cd-search-suggestions -->
                <a href="#0" class="close cd-text-replace">Close Form</a>
              </div>
              
             <!-- End toolbar -->  
            </div> 
          </div>                     
        {% endif %}        
      <!-- End navigation -->
      </div>       
    </div> 
    <div class="p0">  
   
      <div class="wrapper">
        
        <!-- Begin content-->
        
        <section id="content" class="clearfix">
            {% if template == "list-collections" %}
          
            <div id="collection" class="row">
              <div class="span12">
                <h1><span>Product Collections</span></h1>
              </div> <!-- /.span12 -->
            </div> <!-- /.row -->

            <div class="row products masonry">
              {% for collection in collections %}
              {% unless collection.all_products_count == 0 or collection.handle == "frontpage" %}
              {% include 'collection-loop' %}
              {% endunless %}
              {% endfor %}
            </div> <!-- /#collection.row -->
            {% else %}
            {{ content_for_layout }}
            {% endif %}
        </section>
        <!-- End content-->
      </div>
    </div>
  </div>
  <!-- End wrapper -->
  
  <!-- Begin footer -->
  <div class="footer-wrapper">
    <div class="wrapper">
      <footer>
      <div class="row">

        <div class="span12 full-border"></div>
        
        {% capture footer_columns %}{% if settings.footer_display_blog %}+{% endif %}{% if settings.footer_display_navigation %}+{% endif %}{% if settings.footer_display_newsletter %}+{% endif %}{% if settings.footer_display_social %}+{% endif %}{% endcapture %}
        {% if footer_columns.size == 1 %}{% assign footer_span_size = 'span12' %}{% endif %}
        {% if footer_columns.size == 2 %}{% assign footer_span_size = 'span6' %}{% endif %}
        {% if footer_columns.size == 3 %}{% assign footer_span_size = 'span4' %}{% endif %}
        {% if footer_columns.size == 4 %}{% assign footer_span_size = 'span3' %}{% endif %}

        <!-- Begin latest blog post -->
        {% if settings.footer_display_blog %}
        <div class="span4 mob_full_width mob_hide">
          
          {% assign article = blogs.japan.articles.first %}
          {% assign second_article = blogs.anime-manga.articles.first %}
          
          {% capture article_date %} 
            {{ article.published_at }} 
          {% endcapture %} 
          
          {% capture second_article_date %} 
            {{ second_article.published_at }} 
          {% endcapture %} 
          
          {% assign article_is_recent = false %}
          {% assign second_article_is_recent = false %}
          
          {% if article_date > second_article_date %}
            {% assign article_is_recent = true %}
          {% endif %}
          
          {% if second_article_date > article_date %}
            {% assign second_article_is_recent = true %}
          {% endif %}
          
          {% if article_is_recent == true and second_article_is_recent == false %}
          
          <div class="p30">
            <h4>{{ settings.footer_blog_post_header }}</h4>
            <p class="p10"><strong>{{ article.title | link_to: article.url }}</strong></p>
<!--             <p>{{ article.content | strip_html | truncatewords: 30 }}</p> -->
            <span class="date" style="display: block;">{{ article.published_at | date: "%B %d %Y" }}{% if article.comments_enabled? %}, <span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }} Author: {{article.author }} </span>{% endif %}</span>
          </div>       
          {% endif %}   
          {% if second_article_is_recent == true and article_is_recent == false %}
          
          <div class="p30 footer-blog-post">
             <h4>{{ settings.footer_blog_post_header }}</h4>
            {% for second_article in blogs.anime-manga.articles limit:2 %}
           		 <p class="p10"><strong>{{ second_article.title | link_to: second_article.url }}</strong></p>
             		<span class="date" style="display: block;">{{ second_article.published_at | date: "%B %d %Y" }}{% if second_article.comments_enabled? %}, <span>{{ second_article.comments_count }} {{ second_article.comments_count | pluralize: "Comment", "Comments" }} </span>{% endif %}</span>
          <br>
            {% endfor %} 
          </div>         
          {% endif %}
          {% comment %}
          {% assign article = blogs.japan.articles.first %}
          <div class="p30">
            <h4>{{ settings.footer_blog_post_header }}</h4>
            <p class="p10"><strong>{{ article.title | link_to: article.url }}</strong></p>
<!--             <p>{{ article.content | strip_html | truncatewords: 30 }}</p> -->
             <span class="date" style="display: block;">{{ article.published_at | date: "%B %d %Y" }}{% if article.comments_enabled? %}, <span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }} Author: {{article.author }} </span>{% endif %}</span>
          </div>
          {% assign second_article = blogs.anime-manga.articles.first %}
          <div class="p30">
            <p class="p10"><strong>{{ second_article.title | link_to: second_article.url }}</strong></p>
<!--             <p>{{ second_article.content | strip_html | truncatewords: 30 }}</p> -->
             <span class="date" style="display: block;">{{ article.published_at | date: "%B %d %Y" }}{% if article.comments_enabled? %}, <span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }} Author: {{article.author }} </span>{% endif %}</span>
          </div>
          {% endcomment %}
          
        </div>
        {% endif %}
        <!-- End latest blog post -->        
        
        <!-- Begin footer quick links -->
        <div class="span2 footer-menu footer_menu_mob">          
          <h4>{{ linklists.quick_links.title }}</h4>
          <ul class="unstyled">
            {% for link in linklists.quick_links.links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- End footer quick links -->        
        
        {% if settings.footer_display_navigation and linklists.footer.links.size > 0 %}
        <!-- Begin footer navigation -->
        <div class="span2 footer-menu footer_menu_mob">          
          <h4>{{ linklists.cards.title }}</h4>
          <ul class="unstyled">
            {% for link in linklists.cards.links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          
        </div>
        <!-- End footer navigation -->
        {% endif %}
        
        {% if settings.footer_display_newsletter %}
        <!-- Begin newsletter -->
          <div class="span4 footer_menu_mob email-subs">
            <div class="p30">
              <h4>{{ settings.footer_newsletter_title }}</h4>
              <form action="{{ settings.mailing_list_form_action }}" name="mc-embedded-subscribe-form" target="_blank">
                <input type="email" value="" placeholder="Email Address" name="EMAIL" id="mail" /><input type="submit" class="btn newsletter" value="Subscribe" name="subscribe" id="subscribe" />
              </form>
            </div>
          </div>
        <!-- End newsletter -->
        {% endif %}
      </div>
    </footer>
    </div>
    <!-- Begin copyright -->
    <div class="span12 tc copyright clear">
      <div class="wrapper">
<!--   <ul class="credit-cards p10 clearfix">
        {% if settings.accept_visa %}<li><img src="{{ 'icon-cc-visa.png' | asset_url }}" alt="Visa" /></li>{% endif %}
        {% if settings.accept_mastercard %}<li><img src="{{ 'icon-cc-mastercard.png' | asset_url }}" alt="MasterCard" /></li>{% endif %}
        {% if settings.accept_amex %}<li><img src="{{ 'icon-cc-amex.png' | asset_url }}" alt="Amex" /></li>{% endif %}
        {% if settings.accept_discover %}<li><img src="{{ 'icon-cc-discover.png' | asset_url }}" alt="Discover" /></li>{% endif %}
        {% if settings.accept_paypal %}<li><img src="{{ 'icon-cc-paypal.png' | asset_url }}" alt="PayPal" /></li>{% endif %}
        {% if settings.accept_google %}<li><img src="{{ 'icon-cc-google.png' | asset_url }}" alt="Google Wallet" /></li>{% endif %}
        {% if settings.accept_bitcoin %}<li><img src="{{ 'icon-cc-bitcoin.png' | asset_url }}" alt="Bitcoin" /></li>{% endif %}
      </ul> -->
      <!-- /.credit-cards -->
      <p class="copyright_txt">Copyright &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}</p>
      {% if settings.footer_display_social %}
      <!-- Begin social --> 
      <div class="span12 footer_social_box tc">
        <div class='footer_social_icons'>
          {% if settings.twitter_link != blank %}<a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="icon-social twitter">Twitter</a>{% endif %}
          {% if settings.facebook_link != blank %}<a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="icon-social facebook">Facebook</a>{% endif %}
          {% if settings.youtube_link != blank %}<a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" class="icon-social youtube">YouTube</a>{% endif %}
          {% if settings.atom_link != blank %}<a href="{{ settings.atom_link }}" title="{{ shop.name }} news" class="icon-social atom">Blog feed</a>{% endif %}
          {% if settings.instagram_link != blank %}<a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" class="icon-social instagram">Instagram</a>{% endif %}
          {% if settings.pinterest_link != blank %}<a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" class="icon-social pinterest">Pinterest</a>{% endif %}
          {% if settings.vimeo_link != blank %}<a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" class="icon-social vimeo">Vimeo</a>{% endif %}
          {% if settings.tumblr_link != blank %}<a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="icon-social tumblr">Tumblr</a>{% endif %}
          {% if settings.google_link != blank %}<a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" class="icon-social google">Google+</a>{% endif %}
        </div>        
      <!-- End social -->
      {% endif %}
      </div>
    </div>
    <!-- End copyright -->    
  </div>
  <!-- End footer -->      
  
  {{ 'jquery.flexslider-min.js' | asset_url | script_tag }}

  {% if settings.enable_product_image_zoom %}
    {{ 'jquery.zoom.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'jquery.tweet.js' | asset_url | script_tag }}
  {{ 'jquery.fancybox.js' | asset_url | script_tag }}  
  
  <input type="hidden" name="_pc_params" value="{{ shop.permanent_domain }}:{{ customer.id }}" />
  <script id="dsq-count-scr" src="//apartment507.disqus.com/count.js" async></script>
  {{ 'particles.min.js' | asset_url | script_tag }}
  {{ 'app.js' | asset_url | script_tag }}
  {{ 'stats.js' | asset_url | script_tag }}  
  {{ 'main.js' | asset_url | script_tag }} 
  <!-- stats.js -->
   
    
    
    <script>     
    var count_particles, stats, update;
    stats = new Stats;
    stats.setMode(0);
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';
    document.body.appendChild(stats.domElement);
    //count_particles = document.querySelector('.js-count-particles');
    update = function() {
      stats.begin();
      stats.end();
//       if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
//         count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
//       }
      requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
   
      function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login').style.display = 'block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
    $( document ).ready(function() {
        $( ".search_icon" ).click(function() {
            $(".search_place").css('display', 'block');
            $(".cd-cover-layer").addClass('search-form-visible');
        });
        $( ".close_btn" ).click(function() {
            $(".search_place").css('display', 'none');
            $(".cd-cover-layer").removeClass('search-form-visible');
        });
      $(document).on("click",".login-linkk",function(event){
       		 event.preventDefault();
             $(".spanium7").animate({height: 'toggle'});               
       });
    });   
      
  </script> 
    
</body>
</html>