<fieldset>
  <legend>Logos, colors, fonts &amp; more</legend>
  <table>
    <tr>
      <td colspan="2">
        <h3>Logo and icon settings</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <td>
        <label for="use_logo"><input type="checkbox" id="use_logo" name="use_logo" value="1" selected="selected" /> Use custom logo</label>
      </td>
      <td><input type="file" id="logo" name="logo.png" data-max-width="500" data-max-height="200" /></td>
    </tr>
    <tr class="horizontal">
      <td>
        <label for="use_favicon"><input type="checkbox" id="use_favicon" name="use_favicon" value="1" selected="selected" /> Use custom icon (16px x 16px)</label>
      </td>
      <td><input type="file" id="favicon" name="favicon.png" data-max-width="16" data-max-height="16" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="logo_alignment">Logo and navigation alignment</label></th>
      <td>
        <select name="logo_alignment" id="logo_alignment">
          <option value="center" selected="selected">Centered logo, navigation below</option>
          <option value="left">Left-aligned logo, navigation on the right</option>
        </select>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="2">
        <h3>Colors</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="shop_bg_color">Background color</label></th>
      <td><input id="shop_bg_color" name="shop_bg_color" class="color" value="#ffffff" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="border_color">Line color</label></th>
      <td><input id="border_color" name="border_color" class="color" value="#dddddd" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="nav_link_color">Navigation link color</label></th>
      <td><input id="nav_link_color" name="nav_link_color" class="color" value="#888888" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="body_font_color">Text color</label></th>
      <td>
        <input id="body_font_color" name="body_font_color" class="color" value="#555555" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="header_color">Heading text color</label></th>
      <td><input id="header_color" name="header_color" class="color" value="#333333" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="link_color">Link/button color</label></th>
      <td><input id="link_color" name="link_color" class="color" value="#f45b4f" /></td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="2">
        <h3>Font options</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="base_font">Body text font</label></th>
      <td>
        <select name="base_font" id="google_font" class="font">
          <optgroup label="Google Web Fonts">          
            <option value='Google+Arvo'>Arvo</option>
            <option value='Google+Asap'>Asap</option>
            <option value='Google+Cabin'>Cabin</option>
            <option value='Google+Copse'>Copse</option>
            <option value='Google+Droid+Sans'>Droid Sans</option>
            <option value='Google+Droid+Serif'>Droid Serif</option>
            <option value='Google+Gentium+Book+Basic'>Gentium Book Basic</option>
            <option value='Google+Josefin+Slab'>Josefin Slab</option>
            <option value='Google+Josefin+Sans'>Josefin Sans</option>
            <option value='Google+Kreon'>Kreon</option>
            <option value='Google+Lato'>Lato</option>
            <option value='Google+Merriweather'>Merriweather</option>
            <option value='Google+Old+Standard+TT'>Old Standard TT</option>
            <option value='Google+Open+Sans'>Open Sans</option>
          </optgroup>
        </select>
      </td>
    </tr>

    <tr class="horizontal">
      <th><label for="header_font">Heading font</label></th>
      <td>
        <select name="header_font" id="google_header_font" class="font">
          <optgroup label="Google Web Fonts">          
            <option value='Google+Arvo'>Arvo</option>
            <option value='Google+Asap'>Asap</option>
            <option value='Google+Cabin'>Cabin</option>
            <option value='Google+Copse'>Copse</option>
            <option value='Google+Droid+Sans'>Droid Sans</option>
            <option value='Google+Droid+Serif'>Droid Serif</option>
            <option value='Google+Gentium+Book+Basic'>Gentium Book Basic</option>
            <option value='Google+Josefin+Slab'>Josefin Slab</option>
            <option value='Google+Josefin+Sans'>Josefin Sans</option>
            <option value='Google+Kreon'>Kreon</option>
            <option value='Google+Lato'>Lato</option>
            <option value='Google+Merriweather'>Merriweather</option>
            <option value='Google+Old+Standard+TT'>Old Standard TT</option>
            <option value='Google+Open+Sans'>Open Sans</option>
          </optgroup>
        </select>
      </td>
    </tr>

  </table>

  <table>
    <tr>
      <td colspan="2">
        <h3>Background options</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <td>
        <label for="use_bg_image"><input type="checkbox" id="use_bg_image" name="use_bg_image" value="1" selected="selected" /> Use background image</label>
      </td>
      <td><input type="file" id="bg_image" name="bg.jpg" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="bg_alignment">Background image style</label></th>
      <td>
        <select name="bg_alignment" id="bg_alignment">
          <option value="fill contained" selected="selected">Fill, sides of page</option>
          <option value="fill entire">Fill, entire page</option>
          <option value="tiled contained">Tiled, sides of page</option>
          <option value="tiled entire">Tiled, entire page</option>
        </select>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td colspan="2">
        <h3>Toolbar options</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="display_search">Show search box?</label></th>
      <td><input type="checkbox" id="display_search" name="display_search" value="1" /></td>
    </tr>
  </table>


</fieldset>

<fieldset>
  <legend>Homepage</legend>
  <table>

    <tr>
      <td colspan="2">
        <h3>Slideshow banner</h3>
        For best results, upload images that are at least 966px wide. Try to keep your slideshow images the same size.
      </td>
    </tr>
    
    <tr>
      <td colspan="2">

      <table class="standard-table">
        <tr>
          <td colspan="2"></td>
          <td>Image</td>
          <td>Links to</td>
        </tr>
        <tr class="odd">
          <td width="25"><input type="checkbox" id="slide_1" name="slide_1" value="1" /></td>
          <td><label>Slide #1</label></td>
          <td><input type="file" id="slide_1" name="slideshow_1.jpg" data-max-width="966" /></td>
          <td><input type="text" id="slide_1_link" name="slide_1_link" value="/collections/all" size="30" /></td>
        </tr>
        <tr class="even">
          <td><input type="checkbox" id="slide_2" name="slide_2" value="1"/></td>
          <td><label>Slide #2</label></td>
          <td><input type="file" id="slide_2" name="slideshow_2.jpg" data-max-width="966" /></td>
          <td><input type="text" id="slide_2_link" name="slide_2_link" value="/collections/all" size="30" /></td>
        </tr>
        <tr class="odd">
          <td><input type="checkbox" id="slide_3" name="slide_3" value="1" /></td>
          <td><label>Slide #3</label></td>
          <td><input type="file" id="slide_3" name="slideshow_3.jpg" data-max-width="966" /></td>
          <td><input type="text" id="slide_3_link" name="slide_3_link" size="30" /></td>
        </tr>
        <tr class="even">
          <td><input type="checkbox" id="slide_4" name="slide_4" value="1" /></td>
          <td><label>Slide #4</label></td>
          <td><input type="file" id="slide_4" name="slideshow_4.jpg" data-max-width="966" /></td>
          <td><input type="text" id="slide_4_link" name="slide_4_link" size="30" /></td>
        </tr>
      </table>

      </td>
    </tr>

    <tr>
      <td colspan="2">
        <h3>Homepage products</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="frontpage_collection">Collection to feature products from</label></th>
      <td><select name="frontpage_collection" class="collection" /></td>
    </tr>
    <tr>
      <th><label for="frontpage_collection_layout">Product layout</label></th>
      <td>
        <select name="frontpage_collection_layout" id="frontpage_collection_layout">
          <option value="auto">Automatic</option>
          <option value="grid">Grid</option>
        </select>
      </td>
    </tr>
    
    <tr>
      <td colspan="2">
        <h3>Homepage content</h3>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="homepage">Page to show on homepage</label></th>
      <td><select class="page" name="homepage" id="homepage"  /></td>
    </tr>

  </table>
</fieldset>
<fieldset>
  <legend>Product Page</legend>
  <table>
    <tr class="horizontal">
      <th><label for="enable_product_image_zoom">Enable image zoom feature?</label></th>
      <td><input type="checkbox" id="enable_product_image_zoom" name="enable_product_image_zoom" value="1" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="display_quantity_dropdown">Display quantity box?</label></th>
      <td>
        <input type="checkbox" id="display_quantity_dropdown" name="display_quantity_dropdown" value="1" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="show_related_products">Display related products?</label><small>(only visible when within a collection)</small></th>
      <td><input type="checkbox" id="show_related_products" name="show_related_products" value="1" checked="checked" /></td>
    </tr>
  </table>
</fieldset>
<fieldset>
  <legend>Collection Page</legend>
  <table>
    <tr class="horizontal">
      <th><label for="collection_tags">Show "Browse by" product tag filter?</label></th>
      <td>
        <input type="checkbox" id="collection_tags" name="collection_tags" value="1" checked="checked" />
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="products_per_row">Number of products per row</label></th>
      <td>
        <select name="products_per_row" id="products_per_row">
          <option value="3" selected="selected">3</option>
          <option value="4">4</option>
        </select>
      </td>
    </tr>
    <tr class="horizontal">
      <th><label for="pagination_limit">Number of products per page</label></th>
      <td><input type="number" name="pagination_limit" id="pagination_limit" value="24" /></td>
    </tr>

  </table>
</fieldset>
<fieldset>
  <legend>Footer</legend>
  <table>

    <tr class="horizontal">
      <th><label for="footer_display_blog">Show latest blog post?</label></th>
      <td colspan="2"><input type="checkbox" id="footer_display_blog" name="footer_display_blog" value="1" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_blog_post_header">Latest blog post label</label></th>
      <td colspan="2"><input type="text" id="footer_blog_post_header" name="footer_blog_post_header" value="Latest news" /></td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>

    <tr class="horizontal">
      <th><label for="footer_display_navigation">Show footer navigation?</label></th>
      <td colspan="2"><input type="checkbox" id="footer_display_navigation" name="footer_display_navigation" value="1" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_linklist_title">Footer navigation label</label></th>
      <td colspan="2"><input type="text" id="footer_linklist_title" name="footer_linklist_title" value="Quick Links" /></td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>

    <tr class="horizontal">
      <th><label for="footer_display_newsletter">Show newsletter?</label></th>
      <td colspan="2"><input type="checkbox" id="footer_display_newsletter" name="footer_display_newsletter" value="1" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_newsletter_title">Newsletter title</label></th>
      <td colspan="2"><input type="text" id="footer_newsletter_title" name="footer_newsletter_title" value="Newsletter" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="mailing_list_form_action">Mailchimp form action URL</label></th>
      <td><input type="text" id="mailing_list_form_action" name="mailing_list_form_action" value="" /></td>
      <td><a href="http://support.shopify.com/customer/portal/articles/640278" target="_blank">Where do I find my Mailchimp form action URL?</a></td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>

    <tr class="horizontal">
      <th><label for="footer_display_social">Show social media links?</label></th>
      <td colspan="2"><input type="checkbox" id="footer_display_social" name="footer_display_social" value="1" /></td>
    </tr>
    <tr class="horizontal">
      <th><label for="footer_social_title">Social media links title</label></th>
      <td colspan="2"><input type="text" id="footer_social_title" name="footer_social_title" value="Follow Us" /></td>
    </tr>
    <tr class="horizontal">
      <td><label for="show_carousel_item_4">Twitter link</label></td>
      <td colspan="2"><input type="text" id="twitter_link" name="twitter_link" size="50" /></td>
    </tr>
    <tr class="horizontal">
      <td><label for="facebook_link">Facebook link</label></td>
      <td colspan="2"><input type="text" id="facebook_link" name="facebook_link" size="50" /></td>
    </tr>
    <tr class="horizontal">
      <td><label for="google_link">Google+ link</label></td>
      <td colspan="2"><input type="text" id="google_link" name="google_link" size="50" /></td>
    </tr>
    <tr class="horizontal">
      <td><label for="youtube_link">Youtube link</label></td>
      <td colspan="2"><input type="text" id="youtube_link" name="youtube_link" size="50" /></td>
    </tr>
    <tr class="horizontal">
      <td><label for="vimeo_link">Vimeo link</label></td>
      <td colspan="2"><input type="text" id="vimeo_link" name="vimeo_link" size="50" /></td>
    </tr>
    <tr class="horizontal">
      <td><label for="pinterest_link">Pinterest link</label></td>
      <td colspan="2"><input type="text" id="pinterest_link" name="pinterest_link" size="50" /></td>
    </tr>
    <tr class="horizontal">
      <td><label for="instagram_link">Instagram link</label></td>
      <td colspan="2"><input type="text" id="instagram_link" name="instagram_link" size="50" /></td>
    </tr>
    <tr class="horizontal">
      <td><label for="tumblr_link">Tumblr link</label></td>
      <td colspan="2"><input type="text" id="tumblr_link" name="tumblr_link" size="50" /></td>
    </tr>
    <tr class="horizontal">
      <td><label for="atom_link">Blog feed</label></td>
      <td colspan="2"><input type="text" id="atom_link" name="atom_link" size="50" /></td>
    </tr> 
    <tr><td colspan="3">&nbsp;</td></tr>
  
    <tr>
      <td colspan="2">
        <h3>Payment Method Icons</h3>
      </td> 
    </tr>
    <tr>
      <td colspan="3">
        <input type="checkbox" id="accept_visa" name="accept_visa" value="1" />Visa&nbsp;&nbsp; 
        <input type="checkbox" id="accept_mastercard" name="accept_mastercard" value="1" />Mastercard&nbsp;&nbsp; 
        <input type="checkbox" id="accept_amex" name="accept_amex" value="1" /> American Express&nbsp;&nbsp; 
        <input type="checkbox" id="accept_discover" name="accept_discover" value="1" />Discover&nbsp;&nbsp; 
        <input type="checkbox" id="accept_paypal" name="accept_paypal" value="1" />PayPal&nbsp;&nbsp; 
        <input type="checkbox" id="accept_google" name="accept_google" value="1" />Google&nbsp;&nbsp; 
        <input type="checkbox" id="accept_bitcoin" name="accept_bitcoin" value="1" />Bitcoin
      </td>
    </tr>
    
  </table>
</fieldset>