{% if settings.use_bg_image %}
  {% if settings.bg_alignment contains "tiled" %}
  body {
    background: url({{ 'bg.jpg' | asset_url }}) 0 0 repeat;
  }
  {% elsif settings.bg_alignment contains "fill" %}
  body {
    background: url({{ 'bg.jpg' | asset_url }}) 0 0 no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-backface-visibility: visible !important;
  }
  {% endif %}
  {% if settings.bg_alignment contains "contained" %}
  .wrapper {
    background-color: {{ settings.shop_bg_color }};
    border-left: 15px solid {{ settings.shop_bg_color }};
    border-right: 15px solid {{ settings.shop_bg_color }};
  }
  {% endif %}
{% endif %}


{% if settings.header_font contains 'Google' %}
@import url("//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,700");
{% endif %}
{% if settings.base_font contains 'Google' %}
@import url("//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,700");
{% endif %}

#footer, #order-num, #thumbs td, #thumbs h3 span, #overview .hint, #container, h1,h2,h3,h1 span.subtitle, #email label, #email input, #pay-with h3, dl .hint, .big, .small, .soft label, .medium label, legend, span.hint a, .group h3, .pgroup h3 { font-size:auto !important; }
#info-bar, #footer, #order-num, #thumbs td, #overview .hint, #container { font-size:100%; }

html,body { margin:0; padding:0; border:0; background-color:{{ settings.shop_bg_color }}; }
html { font-size:62.5%; -webkit-touch-callout:none; -webkit-text-size-adjust:none; -ms-text-size-adjust:100%; }
body { line-height: 1.45em; font-size: 14px; color: {{ settings.body_font_color }}; font-family: {{ settings.base_font | remove: 'Google+' | replace: '+', ' ' }}; }
#main { color: #333; }

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block; }
input,textarea { font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; }

article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block; }
img { border: 0; -ms-interpolation-mode: bicubic; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
textarea { overflow: auto; vertical-align: top; }
select, input[type=file] { height: 27px; *height: auto; line-height: 27px; *margin-top: 4px; }

form { margin:0; padding:0; }
input, textarea { vertical-align:top; height:24px; line-height:24px; font-size:13px; padding:4px; border:1px solid #ccc; display:inline-block; -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px; -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset; -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset; box-shadow:0 1px 3px rgba(0, 0, 0, 0.06) inset; }
input.focus, input:focus, textarea.focus, textarea:focus { border:1px solid #4c90ee; -moz-box-shadow:0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset, 0px 0px 2px 0px rgba(76, 144, 238, 0.2); -webkit-box-shadow:0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset, 0px 0px 2px 0px rgba(76, 144, 238, 0.2); box-shadow:0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset, 0px 0px 2px 0px rgba(76, 144, 238, 0.2); }
input[type=password]:focus, input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, textarea:focus { outline:none; }
input[type=checkbox],input[type=radio] { height:16px; line-height:16px; }
input[type=file] { cursor:pointer; border:none; box-shadow:none; padding:0; margin:0; }
input[type=submit] { cursor:pointer; }
select { font-size:13px; display:inline-block; color:#222; font-family:Helvetica,Arial,sans-serif; vertical-align:top; height:22px; line-height:22px; padding:2px; padding:initial; border:1px solid #ccc; -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px; }
select:focus, select.focus { outline:none; border:1px solid #4c90ee; -webkit-box-shadow:0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset, 0px 0px 2px 0px rgba(76, 144, 238, 0.2); -moz-box-shadow:0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset, 0px 0px 2px 0px rgba(76, 144, 238, 0.2); box-shadow:0px 0px 2px 1px rgba(76, 144, 238, 0.3) inset, 0px 0px 2px 0px rgba(76, 144, 238, 0.2); }
textarea { min-height:72px; }

ul,ol { margin:0; padding:0; }

.row:before, .row:after, .clearfix:before, .clearfix:after {content:"\0020";display:block;height:0;visibility:hidden}
.clearfix:after, .row:after { clear:both; }
.clearfix, .row { zoom:1; }

h1,h2,h3,h4,h5,h6 {font-weight:400; color:{{ settings.header_color }}; margin:0 0 13px 0; font-family:{{ settings.header_font | remove: 'Google+' | replace: '+', ' ' }}; }

h1,h2,h3,h4,h5,h6,#email label {font-family:{{ settings.header_font | remove: 'Google+' | replace: '+', ' ' }}; }

h1 { color:{{ settings.header_color }}; font-weight:400; font-size:36px; line-height:36px; }
h2 { color:{{ settings.header_color }}; font-weight:400; font-size:28px; line-height:36px; }
h3 { color:{{ settings.header_color }}; font-weight:400; font-size:24px; line-height:28px; border: none !important; }
h4 { font-size:18px; line-height:18px; }

h1 span.subtitle { font-size:12px; font-weight:400; }
#main { padding: 30px; border: 1px solid {{ settings.border_color }}; }
#header, #main, #footer, #container.slim #footer { background-image:none; }
#footer { font-size: 12px !important; padding: 20px 5px 20px 5px !important; }
#main { background:#fff !important; }
#header { padding:15px 5px; }
#header h1 { border-bottom:none; }
#info-bar { border: none; padding: 8px; }
#addresses, #email, .group, .pgroup, #buttons { border:none; background:#fff; margin:0; padding:0; }
#email { padding: 30px; border: 1px solid {{ settings.border_color }}; background: #f9f9f9; margin-bottom: 30px; }
#email label { font-weight: 500; color: {{ settings.header_color }}; }
#payment, #payment-method, #newsletter { border-top: 1px solid {{ settings.border_color }}; padding-top: 30px; margin-bottom: 30px; }
#addresses { margin-bottom: 30px; }
#overview { margin-bottom: 20px; border-bottom: none !important; }
#thumbs h3 { border:none; font-size:12px; line-height:18px; }
#thumbs span { font-size:11px; color:#999; }
#thumbs div { border:0; }
#products { border-right:1px solid {{ settings.border_color }}; }
#overview .hint { color:#999; }
#cost, #order-num { color:{{ settings.header_color }}; }
#cost { margin-bottom: 2px !important; }

#content { padding:10px 0 0; }
#overview, #products, #wallet, #cost, .plisthead { color: #000 !important; }

#container.slim #header { width:433px; }
#container.slim #footer { width:433px; }

#billing-is-shipping input, #marketing-box input { vertical-align:middle; }
#buttons input, input[type="submit"] { -webkit-transition:all 0.15s; -moz-transition:all 0.15s; transition:all 0.15s; display:inline-block; height:36px; line-height:36px; border:none; margin:0; padding:0 20px; color:#fff; font-size:12px; background:{{ settings.link_color }}; width:auto; }
#buttons input:hover { background-color:{{ settings.link_color }}; color:#fff; opacity: 0.8; }
#buttons small { line-height:40px; margin-left:10px; font-size:12px; }
.group label { line-height:24px; font-weight: 500; }
span.sign-in-message { line-height:28px; }

#discount_code { display: block; margin-bottom: 5px; }
#discounts-body { margin-bottom: 20px; }

#tagline { text-align: center; padding-top: 30px; }
#tagline .title { text-decoration:none; color:{{ settings.header_color }}; font-weight:400; margin:0; padding:0; border:0; }
#tagline .subtitle {display:block; padding-bottom:0px;}

{% if settings.use_logo %}
#tagline .subtitle:before { content: url('{{ "logo_medium.png" | asset_url }}'); }
#tagline .title {display:none;}
#tagline .subtitle { font-size: 0; }
{% else %}
#tagline { padding-bottom: 20px; }
#tagline .subtitle { display: none; }
{% endif %}

.group h3, .pgroup h3 { font-weight:400; font-size: 140%; }

#container { margin:40px auto 0; }
{% if settings.main_wrapper_margin %}
#container { margin:20px auto; }
{% endif %}

#container { background-color: transparent !important; }
.form td {
	padding-left: 0;
}

.manual-payment-gateway { display: none; }

#paypal-payments label:after {
  content: "or pay with your credit or debit card";
  display: inline;
  font-size: 110%;
  padding-left: 10px;
}
  
.step2 #buttons:before { 
  content: "Click 'Complete my purchase' to pay by credit or debit card or with your PayPal account.";
  display: block;
  margin: 10px 0;
  font-size: 13px; 
}