{% paginate article.comments by 100 %}
<div id="article" class="row">  
  <div class="span9 article">
    <!-- Begin article -->
    <div class="article-body clearfix">
      <h1>{{ article.title }} <span class="date" style="display: block;">{{ article.published_at | date: "%B %d %Y" }}{% if article.comments_enabled? %}, <span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }}</span>{% endif %}</span></h1>
      <div id="article-content">
        {{ article.content }}
      </div>
    </div>
    <!-- End article -->
    <!-- Begin social icons -->
    {% include 'like-article' %}
    <hr class="divider" />
    <!-- End social icons -->
    <!-- Begin comments -->
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//apartment507.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <!-- End comments -->    
  </div>
  <!-- Begin sidebar -->
  {% include 'blog-sidebar' %}
  <!-- End sidebar -->  
</div>
{% endpaginate %}