<script>
 $(window).on('load', function() {
     $('.white_bg').height($('#content').height() - $('.footer-wrapper').height() );
}); 
</script>

{% if settings.slide_1 or settings.slide_2 or settings.slide_3 or settings.slide_4 %}
<!-- Begin slider -->
<!-- <div class="span12 border-bottom p30">
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        {% for i in (1..4) %}
          {% capture show_slide %}slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <a href="{{ settings[link] }}">
              <img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>  -->
<!-- End slider -->
{% endif %}

<!-- Begin Banner -->
<style>
.comments {
    color: #d60b2e;
    display: block;
    width: 40px;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    position: relative;
}
.comments:after {    
    position: absolute;
    top: -10px;
    left: -8px;
    font-size: 16px;
    padding: 1px 6px;
    color: black;
    background-color: #ffffff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}  
  #anime_comments:after {
    content: '{{ blogs["anime-manga"].articles[0].comments_count }}';
  }
  #games_comments:after {
    content: '{{ blogs["japan-gaming"].articles[0].comments_count }}';
  }  
</style>

<div id="particles-js"></div>


<div class="banner">
  <div id="banner">
  <div class="top">
    <div class="top_left">
      <a href="#">
        <img src="{{ 'bg_top_left3.png' | asset_url }}" alt="top left">
      </a>
      <div class="title_box top_left_banner">
        <a href="https://www.apartment507.com/collections">
          <p class="top_left_title">Japanese Prepaid Cards:</p>
        </a>
        <p id="top_left_list_desk">
          <a href="/collections/japan-bitcash-e-money" class="lb_color">BitCash</a>
          <a href="/collections/dmm-money-card" class="g_color">DMM</a> 
          <a href="/collections/itunes-japan-gift-card" class="o_color">iTunes</a> 
          <a href="/collections/japanese-psn-gift-cards" class="p_color">PSN</a>
          <br><br>
          <a href="/collections/japan-line-store-prepaid-cards" class="or_color">Line</a>
          <a href="/collections/mobage-prepaid-coin-card" class="b_color">Mobage</a>
          <a href="/collections/japan-eshop-gift-card" class="v_color">eShop</a>        
          <a href="/collections/japan-webmoney-point-card" class="lg_color">Webmoney</a>
        </p>
        <div id="top_left_list_mob">
          
          <ul>
            <li><a href="/collections/japan-bitcash-e-money" class="lb_color">BitCash</a></li>
            <li><a href="/collections/dmm-money-card" class="g_color">DMM</a></li>
            <li><a href="/collections/itunes-japan-gift-card" class="o_color">iTunes</a></li>
            <li><a href="/collections/japanese-psn-gift-cards" class="p_color">PSN</a></li>
          </ul>
          <ul>
            <li><a href="/collections/japan-line-store-prepaid-cards" class="or_color">Line</a></li>
            <li><a href="/collections/mobage-prepaid-coin-card" class="b_color">Mobage</a></li>
            <li><a href="/collections/japan-eshop-gift-card" class="v_color">eShop</a></li>  
            <li><a href="/collections/japan-webmoney-point-card" class="lg_color">Webmoney</a></li>  
          </ul>
        </div>        
      </div>
    </div>

    <div class="bot_mid">
      <a href="#">
        <img src="{{ 'bg_bot_mid.png' | asset_url }}" alt="asd" class="bg_img">
      </a>
      <div class="title_box twitter_box">
        <div class="twitter_header">
          <img src="{{ 'twiiter_icon.png' | asset_url }}" alt="apartment507_twitter">
          <p class="twitter_title">On Twitter</p>
        </div>
        <div class="clear_both"></div>
        <div class="tweets" style="font-size: 14px;">   
          <a class="twitter-timeline" href="https://twitter.com/Apartment507">Tweets by TwitterDev</a> 
           <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--           <p>Checkout Downtime on April 11th.</p>
          <p>There will be a brief period of downtime between April 11 8:00pm JST and April 11 9:00pm JST.</p>
          <p>Downtime should not last for more than 10 minutes.</p> -->
        </div>
      </div>
    </div> 
    
    
    <div class="bot_left">
      <a href="http://eepurl.com/bcKJNr">
        <img src="{{ 'bg_bot_left.png' | asset_url }}" alt="asd" class="bg_img">
      </a>
      <div class="title_box red_box">
        <a href="http://eepurl.com/bcKJNr">
          <p class="bot_left_title"> 
          	<span class="sing_up_text">Sign up for</span>
           	 monthly 3% discount newsletter
          </p>
        </a>
      </div>
    </div>
    <div class="clear_both"></div>
  </div>
  <div class="bot"> 
   <div class="top_right" id="top_right_desk">
      <a href="{{ blogs["anime-manga"].articles[0].url }}">
        <img src="{{ blogs["anime-manga"].articles[0].image.src | img_url: 'large' }}" style="width: 100%;" alt="top right">
      </a>
     
      <!-- style="width: 100%;" -->   
      <div class="title_box bot_title_box">      
        <p class="bot_title">
          <i class="fa fa-pencil" aria-hidden="true"></i> 
          &nbsp;ON Blog&nbsp; &gt; &nbsp;{{blogs["anime-manga"].title}}
        </p> 
        
        <a class="share_icon" data-i='0'>
        	<i class="fa fa-share-alt" aria-hidden="true"></i>
        </a>
        <span class="hidden_social_list">
          <a class="social_close_btn"></a> 
          
           {% if settings.facebook_link != blank %}
          	<a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook">
          		<i class="fa fa-facebook-square" aria-hidden="true"></i>
          	</a>
           {% endif %}
          
           {% if settings.twitter_link != blank %}	
          	<a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter">
            	<i class="fa fa-twitter-square" aria-hidden="true"></i>
          	</a>
          {% endif %}
        </span>
        
        <div class="clearfix"></div>
        <a href="{{ blogs["anime-manga"].articles[0].url }}">         
          <p class='blog_title_text'>{{ blogs["anime-manga"].articles[0].title }}</p>
          <p class='blog_content_text'>{{ blogs["anime-manga"].articles[0].content | strip_html | truncatewords: 20 }}</p>
        </a>
               
<!--  			
        <a href="{{ blogs["anime-manga"].articles[0].url }}">
          <span class="date" style="display: block;">{{ articles.published_at | date: "%B %d %Y" }}
            {% if article.comments_enabled? %}, 
            <span>{{ article.comments_count }} {{ article.comments_count | pluralize: "Comment", "Comments" }} </span>
            {% endif %}
          </span>
        </a> -->

<!--         <a class="comments" id="anime_comments" href="{{ blogs["anime-manga"].articles[0].url }}#comments"> -->
<!--           <img src="{{ 'comment.png' | asset_url }}" width="40" alt="comment"> -->
<!--         </a> -->
      </div>
    </div>    
    <div class="top_right" id="top_right_mob">
      <a href="{{ blogs["anime-manga"].articles[0].url }}">
        <img src="{{ blogs["anime-manga"].articles[0].image.src | img_url: 'large' }}" style="width: 100%;" alt="top right">
      </a>
      <div class="title_box bot_title_box">  
        <p class="bot_title">
          <i class="fa fa-pencil" aria-hidden="true"></i> 
          &nbsp;ON Blog&nbsp; &gt; &nbsp;{{blogs["anime-manga"].title}}
        </p> 
        
        <a class="share_icon" data-i='0'>
        	<i class="fa fa-share-alt" aria-hidden="true"></i>
        </a>
        <span class="hidden_social_list">
          <a class="social_close_btn"></a> 
          
           {% if settings.facebook_link != blank %}
          	<a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook">
          		<i class="fa fa-facebook-square" aria-hidden="true"></i>
          	</a>
           {% endif %}
          
           {% if settings.twitter_link != blank %}	
          	<a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter">
            	<i class="fa fa-twitter-square" aria-hidden="true"></i>
          	</a>
          {% endif %}
        </span>
        
        <div class="clearfix"></div>
        <a href="{{ blogs["anime-manga"].articles[0].url }}">
          <p class='blog_title_text'>{{ blogs["anime-manga"].articles[0].title }}</p>
          <p class='blog_content_text'>{{ blogs["anime-manga"].articles[0].content | strip_html | truncatewords: 20 }}</p>
        </a>
        
<!--         <a class="comments" id="anime_comments" href="{{ blogs["anime-manga"].articles[0].url }}#comments">
          <img src="{{ 'comment.png' | asset_url }}" width="40" alt="comment">
        </a> -->
      </div>
    </div>
    
    <div class="bot_right">
      <a href="{{ blogs["japan-gaming"].articles[0].url }}">
        <img src="{{ blogs["japan-gaming"].articles[0].image.src | img_url: 'large' }}" style="width: 100%;" alt="asd">
      </a>
      <div class="title_box bot_title_box">
        <p class="bot_title">
          <i class="fa fa-pencil" aria-hidden="true"></i> 
          &nbsp;ON Blog&nbsp; &gt; &nbsp;{{ blogs["japan-gaming"].title}}
        </p> 
        <a class="share_icon" data-i='0'>
        	<i class="fa fa-share-alt" aria-hidden="true"></i>
        </a>
        <span class="hidden_social_list">
          <a class="social_close_btn"></a>         
          
           {% if settings.facebook_link != blank %}
          	<a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook">
          		<i class="fa fa-facebook-square" aria-hidden="true"></i>
          	</a>
           {% endif %}
          
           {% if settings.twitter_link != blank %}	
          	<a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter">
            	<i class="fa fa-twitter-square" aria-hidden="true"></i>
          	</a>
          {% endif %}
        </span>
        <div class="clearfix"></div>
        
        <a href="{{ blogs["japan-gaming"].articles[0].url }}">
          <p class='blog_title_text'>{{ blogs["japan-gaming"].articles[0].title }}</p>
          <p class='blog_content_text'>{{ blogs["japan-gaming"].articles[0].content | strip_html | truncatewords: 20 }}</p>
        </a>

<!--         <a class="comments" id="games_comments" href="{{ blogs["japan-gaming"].articles[0].url }}#comments">
          <img src="{{ 'comment.png' | asset_url }}" width="40" alt="comment">
        </a> -->
      </div>
    </div>
    <div class="clear_both"></div>
  </div>
  </div>
</div>
<!-- End Banner -->

<!-- Start products -->
{% if settings.frontpage_collection != '' %}


    {% if collections[settings.frontpage_collection].products.size == 0 %}

      {% include 'helper-homepage-products' %}    

    {% else %}

      {% assign grid_started = false %}

      {% for product in collections[settings.frontpage_collection].products %}

        {% assign product_layout = "grid" %}
        {% if forloop.length == 1 %}
          {% assign product_layout = "full-product" %}
        {% elsif forloop.length <= 3 %}
          {% assign product_layout = "row" %}
        {% elsif forloop.length > 3 and forloop.index == 1 %}
          {% assign product_layout = "row" %}
        {% endif %}

        {% if settings.frontpage_collection_layout == "grid" %}
          {% assign product_layout = "grid" %}
        {% endif %}

        {% if product_layout == "full-product" %}

          {% include 'product' with product %}
          {% assign test_product == product %}

        {% elsif product_layout == "row" %}
    
        <!-- Full-row product -->
        <div class="display-table featured-product span12 p30">
          <div class="f_product_box">
            <!-- Begin slider -->
            <div class="span12 p30">
              <div class="flexslider-container">
                <div class="flexslider">
                  <ul class="slides">
                    {% for i in (1..4) %}
                      {% capture show_slide %}slide_{{ i }}{% endcapture %}
                      {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
                      {% capture link %}slide_{{ i }}_link{% endcapture %}
                      {% capture alt %}slide_{{ i }}_alt{% endcapture %}
                      {% if settings[show_slide] %}
                      <li>
                        {% if forloop.index == 2 %}
                          <div class="display-table-cell featured-product-image">
                            {% if product.images.size > 0 %}
                            <a href="{{ product.url }}">
                              <img alt="featured product" src="{{ product.featured_image | product_img_url: 'grande' }}">
                            </a>
                            {% else %}
                            {% endif %}
                          </div>
                        {% endif %}
                        
                        {% if forloop.index != 2 %}
                          <div class="display-table-cell featured-product-image">
                            {% if product.images.size > 0 %}
                            <a href="{{ product.url }}">
                              <img alt="featured product" src="{{ product.featured_image | product_img_url: 'grande' }}">
                            </a>
                            {% else %}
                            {% endif %}
                          </div>
                        {% endif %}
                        
                        <div class="display-table-cell featured-product-description">
                          <h2>{{ product.title }}</h2>
                          <div class="featured-product-description">{{ product.description}}</div>
                          <span class="price_from">FROM</span>
                          <span class="price">
                            {% if product.available %}
                            {% if product.compare_at_price_max > product.price %}
                            <del>{{ product.compare_at_price | money }}</del>
                            {% endif %}
                            {% if product.price_varies %}
                            <small><em>from</em></small>
                            {% endif %}
                            {{ product.price | money }}
                            {% else %}
                            {{ product.price | money }} Sold Out
                            {% endif %}
                          </span>
                          <a class="btn" href="collections/{{ settings.frontpage_collection }}{{ product.url }}">View product</a>
                        </div> 
                        
                      </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                  <div class="flex-controls"></div>
                </div>
              </div>
            </div> 
            <!-- End slider -->
          </div>
        </div>
  <div class="clearfix helper-section">
    
        {% elsif product_layout == "grid" %}

          {% unless grid_started %}
    
            <!-- Grid-style product -->
            <div class="products product-row">
            {% assign grid_started = "true" %}
          {% endunless %}
          
          {% include 'product-loop' with settings.frontpage_collection %}
        
          {% if forloop.last %}
            </div>
          {% endif %}

        {% endif %}

      {% endfor %}

      <!-- End -->
      <div class="span12 border-bottom p30"></div>

    {% endif %}
  </div>
{% endif %}
<!-- End products -->

<!-- start content page -->
<div class="about_us_text">
  {% if settings.homepage != '' %}
  {% assign helper_welcome = false %}
  {% if pages[settings.homepage].content contains "where users go when first trying to determine a level of trust" %}{% assign helper_welcome = true %}{% endif %}
  <div class="span12 clearfix {% if helper_welcome %}helper-section{% endif %}">
    {% if helper_welcome %}
    <div class="note helper-note">
      <h3>How to change this page</h3>
      <p>You can change this area's text by editing the "About Us" page in your admin's <a href="/admin/pages">Pages section</a>.</p>
      <p class="p0">You can also replace the "About Us" page with another page in your <a href="/admin/themes/current/settings">Theme Settings</a>.</p>
    </div>
    {% endif %}
    <div class="p30 clearfix  {% if helper_welcome %}helper-content{% endif %}">
      <div class="intro clearfix">
        <h2>{{ pages[settings.homepage].title }}</h2>
        {{ pages[settings.homepage].content }}
      </div>
    </div>
  </div>
  </div>
{% endif %}
<!-- end content page -->
<script>
  $( document ).ready(function() {
    $( '.share_icon' ).mouseenter(function(){
      var i =  $(this).attr('data-i');
      if(i%2 == 0){
    	$(this).fadeOut('slow');
        $(this).next('.hidden_social_list').fadeIn('slow'); 
      }
      
        i++;
        $(this).attr('data-i',i);
    });
    $('.social_close_btn').click(function(){
    	$(this).parent().fadeOut('slow');
        $(this).parent().prev('.share_icon').fadeIn('slow');   
      
    });
  });
</script>