<div id="page" class="row">
  
  <div class="span12 details">
    {% unless  page_title contains 'Publishing' %}
    <h1 class="p25">{{ page.title }}</h1>
	{% endunless  %}
    {{ page.content }}
  </div>
  
</div>